@charset "utf-8";
.wrap{
    max-width: $max-width-base;
    margin: 0 auto;
}

// To use extend
.panel-base {
    color: $font-color-base;
    padding:15px;
    .panel-title {
        font-size: $font-size-heading;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.about{
    @extend .panel-base;
    background-color: $bgcolor-about;

    .panel-title {
        font-size: $font-size-title;
        margin-top: 40px;
        margin-bottom: 20px;
        letter-spacing: 3px;
        font-weight: normal;
        color: $font-color-base;
    }

    .about-section {
        margin-bottom: 30px;
        h4 {
            font-size: $font-size-heading-about;
            margin-bottom: 10px;
        }

        &:last-child {
            margin-bottom: 0px;
        }
    }
    
    .about-picture {
        text-align: center;
        margin-bottom: 30px;
        max-width:350px;
    }

    @media screen and (max-width: #{$screen-min-width-desktop}) {
        /* 414px以下の場合 */
        .about-picture-desktop1,.about-picture-desktop2{
            visibility:hidden;
            height:0px;
       }
    }
}

.new {
    @extend .panel-base;
    background-color: $bgcolor-new;
    color: #{$font-color-base}!important;

    #latest_list p a {
        color: $font-color-base;
    }
}

.spread {
    @extend .panel-base;
    background-color: $bgcolor-spread;
    margin-bottom: -20px;

   .select_menu {
       margin: 10px;
   }
}

.use {
    @extend .panel-base;
    background-color: $bgcolor-use;
}

.footer {
    @extend .panel-base;
    color: $font-color-base-dark;

    div.footer-content {
        margin-top: 50px;
        display: box;
        display: -webkit-box;
        display: -moz-box;

        address{
            font-size: 12px;
            line-height: 8px;
            margin-left: 20px;
        }
    }
}
