@charset "utf-8";
a,a:hover{
  text-decoration: none;
}
#map_canvas img{
  max-width:none;
}
h1.panel-title a{
  font-size:50px;
}
h2.panel-title a{
  font-size:30px;
}
h2 {
    margin-top: 0px;
    padding-top: 20px;
    margin-bottom: 0px;
    padding-bottom:10px;
}
h3{
  margin-top: 0px;
}
.panel-group .panel + .panel {
    margin-top: 0px;
}
.panel-heading {
    border-bottom: none;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
    border-top: none;
}
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0px;
}
.panel {
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#latest_list p a,.about,.new,.spread,.use{
  color: #ffffff!important;
}
.about{
  background-color: #77ae1f !important;
}
.new{
  background-color: #733b96 !important;
}

.spread{
  padding:15px;
  background-color: #2dc7aa !important;
  margin-bottom: -20px;
}
.use{
  background-color: #ea3b13 !important;
  padding:15px;
}
footer{
  padding:15px;
}

div#map_canvas div.info_window{
  color:#000000
}
