@media screen and (min-width: #{$screen-max-width-desktop}) {
     /* 415px以上の場合 */
  .wrap{
      min-width: $min-width-base-desktop;
      margin: 0 auto;
  }
  .about-section h4{
      margin-top:15px;
   }
   .about-top{
      margin-top:50px;
   }
   .about-picture{
       visibility:hidden;
       height:0px;
   }
   .about-section{
       overflow: hidden;
   }
   .about-section.top{
       margin-bottom:-100px !important;
   }
   .about-under,.about-picture-desktop2{
       float: left;
   }
   .about-top,.about-picture-desktop1{
       float: left;
   }
   .about-picture-desktop2{
       width:40%;
       min-width:247px;
       margin-bottom:-30px;
   }
   .about-under{
       width:60%;
       min-width:371px;
       margin-top:70px;
   }
   .panel-body.about{
       padding-bottom: 0px;
   }
   .about-top{
       width:55%;
   }
   .about-picture-desktop1{
       width:45%;
   }
}
