// == Colors
$bgcolor-about:        #77ae1f !important;
$bgcolor-new:          #733b96 !important;
$bgcolor-spread:       #2dc7aa !important;
$bgcolor-use:          #ea3b13 !important;

$font-color-base:      #ffffff;
$font-color-base-dark: #000000;

// == Typography
$font-size-base: 16px;
$font-size-title: 40px;
$font-size-heading: 24px;
$font-size-heading-about: 20px;

// == View Common 
$max-width-base: 900px;

// == View Desktop
$screen-max-width-desktop:     415px;
$screen-min-width-desktop:     $screen-max-width-desktop - 1px;
$min-width-base-desktop:       780px;

// == Google Map API
$font-color-infowindow: #000000;
