// == Colors
$bgcolor-about:        #77ae1f !important;
$bgcolor-new:          #733b96 !important;
$bgcolor-spread:       #2dc7aa !important;
$bgcolor-use:          #ea3b13 !important;

$font-color-base:      #ffffff !important;

// == Typography
$font-size-base: 16px;

// == Google Map API
$font-color-infowindow: #000000;
