@charset "utf-8";

#map_canvas img{
  max-width:none;
}
h2 {
    margin-top: 0px;
    padding-top: 20px;
    margin-bottom: 0px;
    padding-bottom:10px;
}
.panel-group .panel + .panel {
    margin-top: 0px;
}
.panel-heading {
    border-bottom: none;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
    border-top: none;
}
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0px;
}
.panel {
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.about,.new,.spread,.use{
  color: #ffffff!important;
}
.about{
  background-color: #77ae1f !important;
}
.new{
  background-color: #733b96 !important;
}
.spread{
  background-color: #2dc7aa !important;
}
.use{
  background-color: #ea3b13 !important;
}
