@charset "utf-8";

#map_canvas img{
  max-width:none;
}
.panel-group .panel + .panel {
    margin-top: 0px;
}
.panel-heading {
    border-bottom: none;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
    border-top: none;
}
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0px;
}
.panel {
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

