<h2><%= t(:spread_h2) %></h2>
<p><%= t(:spread_p1) %></p>
<ul class="dropdown-menu" role="menu" aria-labelledby="都道府県を選んでください">
  <li role="presentation" class="dropdown-header">Dropdown header</li>
  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">北海道</a></li>
</ul>
<ul class="dropdown-menu" role="menu" aria-labelledby="----">
  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">まるまる市</a></li>
</ul>
<div id="map_canvas" style="width:100%; height:300pt"></div>
